# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/code/uploadToServerPlugin//node_modules
/code/bundleBuild//node_modules

# production
/build
/dist
/out
/code/bundleBuild//dist

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.cache

# IDE
/.idea
/.vscode